[submodule "OpenGLProject/Submodules/glfw"]
	path = OpenGLProject/Submodules/glfw
	url = https://github.com/glfw/glfw.git
[submodule "OpenGLProject/Submodules/glm"]
	path = OpenGLProject/Submodules/glm
	url = https://github.com/g-truc/glm.git
